@import "./Variabel";

body, html {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    url(../assets/bg-image-4.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

#root{
    height: 100%;
}

.bg-nav{
    background-color: $bgItem
}

.bg-yellow{
  background-color: $warningColor;
}

.bg-gray{
  background-color: $bgItem;
}

.yellow{
  color: $warningColor;
}