.form-login
    background-color: rgb(250, 250, 250)
    padding: 2em
    max-width: 21rem
    min-height: 23rem
    border-radius: 1rem

    input
        background-color: rgb(214, 210, 210)
        padding: 0